---
layout: layout.njk
title: Home
---

<div class="profile-intro">
  <img src="/assets/profile.jpeg" alt="Dan Marino" class="profile-pic" />
  
  <div class="profile-text">
    <h1>{{ site.authorName }}</h1>
    <p>I'm currently an Engineering Manager at <a href="https://ibotta.com/">Ibotta</a>.</p>
    <p>Before that, I was a Senior Platform Engineer primarily focused in Databricks, AWS, and Node, building out strong backend solutions for an internal data analytics tool.</p>
    <p>And before that, I built <a href="https://haven-secrets.github.io/">Haven</a>, a Secrets Manager for Node applications.</p>
  </div>
</div>

<section>
  <h2>Haven</h2>
  <p>Haven is an open-source, centralized secrets manager that protects your application secrets through a combination of encryption, access control, and injection-at-runtime. Built using Node.js and Amazon Web Services, it is easy to set up and integrate with your Node applications.</p>
  <p>For the developer, Haven provides both a UI and CLI to abstract away the pain of using a secrets manager. Furthermore, Haven injects secrets at runtime and redacts secrets from getting logged on stdout and stderr.</p>

  <a href="https://haven-secrets.github.io/case-study" class="button">Read the Case Study</a>
</section>

<section>
  <h2>About Me</h2>
  <p>In my free time, I'm writing an indie-rock album, performing improv, playing softball, and doing yoga.</p>
</section>
